*{
    margin: 0px;
    padding: 0px;
}
html,body{
box-sizing: border-box;
}
header{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 99;
   
   
    font-family: "Lexend", sans-serif;


  
}

.navbar,.nav_links{
    display: flex;
    padding: 10px 15px;
    align-items: center;
    justify-content: space-between;
}
.nav_links{
    padding: 0;
}
.navbar,.nav_items{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-right: 10%;
   
}
.nav_items {
        margin-right: 30px;
}
.navbar,.nav_items,.nav_item a{
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
   
}
.banner{
    
    
    height: 100dvh;
    background-image: url(../images/component.webp);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.button{
    border: 2px solid orangered;
    border-radius:3rem;
    text-decoration: none;
    transition: ease all .3s;
    padding: 15px 30px;
   background-color:orangered;
   
   
}
.button:hover{
      background-color:transparent;
}
.nav_item a:hover{
    color: black;
}